<script props>
  module.exports = {
    image: props["image"] || "/images/hero_slide1.png",
  };
</script>

<div class="slide_image">
  <img src="{{image}}" alt="" />
</div>
<div class="slide_action">
  <div class="slide_title">
    <slot:slider_name>Скидка на услуги при первом посещении</slot:slider_name>
  </div>
  <a href="#" class="arrow_hover promotion_btn">
    <span>Записаться</span>
    <span class="arrow">
      <c-icons.DoubleChevronRight></c-icons.DoubleChevronRight>
    </span>
  </a>
</div>
