<script props>
  module.exports = {
    active: props["active-tab"] || 0,
  };
</script>

<div class="tab_content" :class="{ 'show': activeTab === {{ active }} }">
  <div class="card">
    <div class="services_info">
      <img src="/images/services_bg.png" alt="" class="services_bg" />
      <form class="servisec_form">
        <div class="service_price">
          <span> Стоимость </span>
          <span>от <slot:price>2 000</slot:price> ₽</span>
        </div>
        <div class="inputs">
          <div class="inputs">
            <div class="flex justify-start">
              <input
                x-model="phoneNumber"
                x-mask="+7 999 999 99 99"
                placeholder="+7 000 000 00 00"
                type="text"
              />
            </div>
            <button type="submit">Оставить заявку</button>
          </div>
        </div>
        <div class="agree">
          Оставляя заявку вы даёте согласие на обработку ваших
          <span>Персональных данных</span>
        </div>
      </form>
      <div class="services_img">
        <slot:image>
          <img src="/images/services1.png" alt="" />
        </slot:image>
      </div>
    </div>
  </div>
  <div class="services_description">
    Профессиональный ремонт «Geely» включает в себя работы разной направленности
    по восстановлению нормального функционирования агрегатов и систем
    автомобиля. От правильности их проведения зависит то, насколько безопасной
    будет эксплуатация в будущем, а также оптимизация расходов на неё.
  </div>
</div>
