<script props>
  module.exports = {
    image: props["image"] || "/images/sale.png",
  };
</script>

<div class="row">
  <div class="card_title">
    <slot:heading>Скидка на услуги при первом посещении</slot:heading>
  </div>
  <div class="price">
    <a href="#" class="arrow_hover">
      <span>Записаться</span>
      <span class="arrow">
        <c-icons.DoubleChevronRight></c-icons.DoubleChevronRight>
      </span>
    </a>
  </div>
</div>

<div class="card_image">
  <img src="{{image}}" alt="" />
</div>
