<section>
    <div class="advantages">
      <div class="container">
        <div class="section_title">Мы лучшие на рынке</div>
        <div class="advantages_card">
          <div class="left_card">
            <div class="big_card">
              <span class="cards_title"
                >12 месяцев гарантии на все работы</span
              >
              <span class="cards_text"
                >Гарантия действует с момента передачи полностью
                отремонтированного авто или с момента подписи акта
                приёма-передачи владельцу авто</span
              >
            </div>
            <div class="small_card">
              <span>Запчасти</span>
              <span
                >Мы являемся партнером крупнейших оптовиков. Все запчасти
                мы везем напрямую</span
              >
            </div>
            <div class="small_card">
              <span>Цены</span>
              <span
                >Мы предлагаем своим клиентам самые выгодные цены ниже,
                чем у официального дилера</span
              >
            </div>
          </div>
          <div class="right_card">
            <div class="small_card">
              <span>Команда</span>
              <span
                >Команда автосервисов Geely состоит из 12 человек, которые
                имеют опыт работы с маркой Geely не менее 4-х лет</span
              >
            </div>
            <div class="small_card">
              <span>Качество</span>
              <span
                >Мы уверены в качестве используемых материалов и в высоком
                профессионализме наших сотрудников</span
              >
            </div>
            <div class="big_card">
              <span class="cards_title"
                >Сохранение заводской гарантии</span
              >
              <span class="cards_text"
                >Заводская гарантия сохраняется лишь в том случае, если
                авто было оформлено в официальном дилерском центре на
                территории РФ</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>