<script locals>
  module.exports = {
    hero_others: [
      { name: "Лет на рынке", price: "10" },
      { name: "Сотрудников в штате", price: "12" },
      { name: "Средний стаж сотрудников", price: "12+" },
    ],

    hero_slides: [
      {
        name: "Скидка на услуги при первом посещении",
        image: "/images/hero_slide1.png",
      },
      {
        name: "Бесплатная замена масла при первом ТО",
        image: "/images/hero_slide2.png",
      },
      {
        name: "Шиномонтаж + сход развал по специальной цене",
        image: "/images/hero_slide3.png",
      },
    ],
  };
</script>

<section class="hero" id="hero">
  <div class="road">
    <div class="car-container">
      <div class="automobile">
        <img src="/images/car_animat.png" alt="" class="car" />
        <div class="car_wheels">
          <div class="wheel back-wheel">
            <img src="/images/car_whell.png" alt="" />
          </div>
          <div class="wheel front-wheel">
            <img src="/images/car_whell_back.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container firs">
    <div class="hero_title">
      <div class="div">
        Сеть профессиональных <br />
        автосервисов <span>Geely</span> в Москве
      </div>
      <img src="/images/rating_yandex.png" alt="" />
    </div>
    <div class="mobile_adres">
      <div class="phone">
        <a href="tel:+74951535816">
          <span>+7 (495) 153-58-16</span>
        </a>
        <span>c 09:00 до 21:00</span>
      </div>
      <div class="location">
        <span class="mobile_mark">г. Москва, ул. Мельникова, д. 5</span>
        <a href="#" class="arrow_hover">
          <span>Как проехать</span>
          <span>
            <c-icons.DoubleChevronRight></c-icons.DoubleChevronRight>
          </span>
        </a>
      </div>
    </div>

    <div class="row">
      <form>
        <div class="form_title">
          Воспользуйтесь бесплатной <br />
          консультацией
        </div>
        <div class="inputs">
          <div class="flex justify-start">
            <input
              x-model="phoneNumber"
              x-mask="+7 999 999 99 99"
              placeholder="+7 000 000 00 00"
              type="text"
            />
          </div>
          <button type="submit">Оставить заявку</button>
        </div>
        <div class="agree_terms">
          <a href="#">Оставляя заявку вы даёте согласие на обработку ваших</a>
          <span>Персональных данных</span>
        </div>
        <div class="agree_terms_mobile">
          <span>Оставляя заявку вы даёте согласие на обработку</span>
          <a href="#"> ваших Персональных данных</a>
        </div>
      </form>

      <div class="hero_others">
        <div class="other_item">
          <div class="number">12 255</div>
          <span>Довольных клиентов</span>
        </div>
        <each loop="hero_other, tabIndex in hero_others">
          <c-share.HeroOthers>
            <fill:body>
              {{ hero_other.name }}
            </fill:body>
            <fill:number>{{ hero_other.price }}</fill:number>
          </c-share.HeroOthers>
        </each>
      </div>
    </div>

    <section class="splide" id="hero_slide">
      <div class="splide__track">
        <ul class="splide__list">
          <each loop="hero_slide, tabIndex in hero_slides">
            <li class="splide__slide">
              <c-share.HeroSlide image="{{hero_slide.image}}">
                <fill:slider_name>{{ hero_slide.name }}</fill:slider_name>
              </c-share.HeroSlide>
            </li>
          </each>
        </ul>
      </div>
      <div class="splide__arrows splide__arrows--ltr">
        <button class="splide__arrow splide__arrow--prev" type="button">
          <c-icons.ChevronLeft></c-icons.ChevronLeft>
        </button>
        <button class="splide__arrow splide__arrow--next" type="button">
          <c-icons.ChevronRight></c-icons.ChevronRight>
        </button>
      </div>
    </section>
  </div>

  <div class="container mobile fluid">
    <section class="splide" id="hero_slide_mobile">
      <div class="splide__track">
        <ul class="splide__list">
          <each loop="hero_slide in hero_slides">
            <li class="splide__slide">
              <c-share.HeroSlide image="{{hero_slide.image}}">
                <fill:slider_name>{{ hero_slide.name }}</fill:slider_name>
              </c-share.HeroSlide>
            </li>
          </each>
        </ul>
      </div>

      <div class="splide__arrows splide__arrows--ltr">
        <button class="splide__arrow splide__arrow--prev" type="button">
          <c-icons.ChevronLeft></c-icons.ChevronLeft>
        </button>
        <button class="splide__arrow splide__arrow--next" type="button">
          <c-icons.ChevronRight></c-icons.ChevronRight>
        </button>
      </div>
    </section>
  </div>
</section>
