<div class="section_menu">
  <div class="overlay"></div>
  <div class="menu_global">
    <div class="container">
      <div class="menu_content">
        <div class="menu_left">
          <div class="menu_text">
            Сеть профессиональных автосервисов <a href="#">Geely</a> в Москве
          </div>
          <div class="menu_img">
            <img src="/images/rating_yandex.png" alt="" />
          </div>
        </div>
        <div class="menu_middle">
          <ul>
            <li>
              <a href="#">Услуги</a>
            </li>
            <li>
              <a href="#">О сервисе</a>
            </li>
            <li>
              <a href="#">Преимущества</a>
            </li>
            <li>
              <a href="#">Стоимость ТО</a>
            </li>
            <li>
              <a href="#">Спецпредложения</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
          </ul>
        </div>

        <div class="menu_right">
          <div class="mobile_adres">
            <div class="phone">
              <div class="phone_number">
                <a href="tel:+74951535816">
                  <span>+7 (495) 153-58-16</span>
                </a>
                <span>c 09:00 до 21:00</span>
              </div>
              <div class="links">
                <a
                  href="#"
                  class="flex items-center justify-center w-8 h-8 text-white rounded-full bg-blue telegram"
                >
                  <c-icons.Telegram class="w-5 h-5"></c-icons.Telegram>
                </a>
                <a
                  href="#"
                  class="flex items-center justify-center w-8 h-8 text-white rounded-full bg-green whatsapp"
                >
                  <c-icons.WhatsApp class="w-5 h-5"></c-icons.WhatsApp>
                </a>
              </div>
            </div>
            <div class="location">
              <span class="mobile_mark">г. Москва, ул. Мельникова, д. 5</span>
              <a href="#" class="arrow_hover">
                <span>Как проехать</span>
                <span>
                  <c-icons.DoubleChevronRight></c-icons.DoubleChevronRight>
                </span>
              </a>
            </div>
          </div>
          <div class="contacts">
            <div class="phone">
              <div class="phone_number">
                <a href="tel:+74951535816">+7 (495) 153-58-16</a>
                <span> c 09:00 до 21:00 </span>
              </div>
            </div>
            <div class="links">
              <a
                href="#"
                class="flex items-center justify-center w-8 h-8 text-white rounded-full bg-blue telegram"
              >
                <c-icons.Telegram class="w-5 h-5"></c-icons.Telegram>
              </a>
              <a
                href="#"
                class="flex items-center justify-center w-8 h-8 text-white rounded-full bg-green whatsapp"
              >
                <c-icons.WhatsApp class="w-5 h-5"></c-icons.WhatsApp>
              </a>
            </div>
          </div>
          <div class="location last">
            <div class="location_name">г. Москва, ул. Мельникова, д. 5</div>
            <div class="loaction_get">
              <a href="#" class="arrow_hover">
                <span>Как проехать</span>
                <span>
                  <c-icons.DoubleChevronRight></c-icons.DoubleChevronRight>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
