<script locals>
  module.exports = {
    items: [
      {
        name: "Скидка на услуги при первом посещении",
        image: "/images/sale.png",
      },
      {
        name: "Бесплатная замена масла при первом ТО",
        image: "/images/oil.png",
      },
      {
        name: "Шиномонтаж + сход развал по специальной цене",
        image: "/images/tire.png",
      },
    ],
  };
</script>

<section class="splide" id="special_offers">
  <div class="container">
    <div class="section_title">Специальные предложения</div>
    <div class="splide__track">
      <ul class="splide__list">
        <each loop="item in items">
          <li class="splide__slide">
            <c-share.SpecialOffersItem image="{{item.image}}">
              <fill:heading>{{ item.name }}</fill:heading>
            </c-share.SpecialOffersItem>
          </li>
        </each>
      </ul>
    </div>

    <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev">
        <c-icons.ChevronLeft></c-icons.ChevronLeft>
      </button>
      <button class="splide__arrow splide__arrow--next">
        <c-icons.ChevronRight></c-icons.ChevronRight>
      </button>
    </div>
  </div>
</section>
