<script locals>
  module.exports = {
    items: [
      { name: "Скидка на услуги при первом посещении" },
      { name: "Бесплатная замена масла при первом ТО" },
      { name: "Шиномонтаж + сход развал по специальной цене" },
    ],
  };
</script>

<section class="special_offers_mobile">
  <div class="container">
    <h2 class="section_title">
      Специальные <br />
      предложения
    </h2>

    <div class="card_block">
      <each loop="item in items">
        <c-share.SpecialOfferMobileItem>
          <fill:heading>{{ item.name }}</fill:heading>
        </c-share.SpecialOfferMobileItem>
      </each>
    </div>
  </div>
</section>
