<script locals>
  module.exports = {
    special_offers_mobile: [
      { name: "Скидка на услуги при первом посещении"},
      { name: "Бесплатная замена масла при первом ТО"},
      { name: "Шиномонтаж + сход развал по специальной цене"},
    ],
  };
</script>
<section class="special_offers_mobile">
    <div class="container">
      <div class="section_title">
        Специальные <br />
        предложения
      </div>
      <div class="card_block">
        <each loop="special_offer_mobile, tabIndex in special_offers_mobile">
          <c-share.SpecialOfferMobileItem active-tab="{{tabIndex}}">
            <fill:heading>{{ special_offer_mobile.name }}</fill:heading>
          </c-share.SpecialOfferMobileItem>
        </each>
      </div>
    </div>
</section>